* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorpick: '';
}

body {
    display: flex;
    background-color: black; 
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.griddiv {
    box-sizing: border-box; 
    background-color: white;
    width: 5vh; 
    height: 5vh;
    outline: 0.25vh solid gainsboro;
}


.griddiv:hover {
    background-color: var(--colorpick); 
    transition:color 2s ease , background-color 1s ease; 
}


.row {
    display: flex;  
}

