@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --colorpick: '';
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 3vh;
    display: flex;
    background-color: black; 
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.griddiv {
    box-sizing: border-box; 
    background-color: white;
    width: 5vh; 
    height: 5vh;
    outline: 0.25vh solid gainsboro;
}


.griddiv:hover {
    background-color: var(--colorpick); 
    transition:color 2s ease , background-color 1s ease; 
}


.row {
    display: flex;  
}


info {
    color: #735DA5;
    background-color: #D3C5E5;
    border-radius: 2px;
    padding: 5px;
    margin-right: 10px;
}


.top {
    display: flex;
    align-items: center;
    
}


#colorpicker {
    width: 7vh;
    height: 7vh;
    background: none;
    cursor: pointer;
}

label {
    color: white;
    background-color: grey;
}

label:hover {
    color: grey;
    background-color: white;
    cursor: pointer;
}


#checkbox {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

#checkbox2 {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 15px;
}